.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

.scroll-content {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 18s linear infinite;
}



@keyframes scroll-left {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}



