{% extends "base.html" %}
{% block title %} FQM - {{ page_title }} {% endblock %}


{%- from "sb_manage2.html" import sb_manage with context %}
{% block sidebar %}
 {{ sb_manage() }}
{% endblock %}

{% block page_content %}
    <div>
        <input
            type="text"
            class="form-control"
            placeholder="Search tickets..."
            v-model="searchQuery"
            style="width: 250px;"
        >
    </div>

    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th v-for="col in columns" :key="col.label">
                    [[ col.label ]]
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in paginatedRows" :key="row.id || row.name + '-' + row.number">
                <td>[[ row.name ]]</td>
                <td>[[ row.number ]]</td>
                <td>[[ row.office_name ]]</td>
                <td>[[ row.task_name ]]</td>
                <td>[[ row.status ]]</td>
                <td>[[ row.pulled_by ]]</td>
                <td>[[ row.pulled ? 'Yes' : 'No' ]]</td>
                <td>[[ row.timestamp ]]</td>
                <td>
                    <a @click="EditTicket(row.name)" >
                        <span class="mr-1 fa fa-pencil text-warning">
                        </span>
                    </a>

                    <a @click="PullTicket(row.name,row.office_id,row.ticket_id)" >
                        <span class="fa fa-minus text-primary"></span>
                    </a>
                </td>
            </tr>
            <tr v-if="paginatedRows.length === 0">
                <td :colspan="columns.length" class="text-center">
                    No data
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination controls -->
    <nav aria-label="Page navigation" class="d-flex justify-content-between align-items-center">
        <div>
            Page [[ currentPage ]] of [[ totalPages ]]
        </div>

        <ul class="pagination mb-0">
            <li class="page-item" :class="{ disabled: currentPage === 1 }">
                <button class="page-link" @click="prevPage" :disabled="currentPage === 1">
                    Prev
                </button>
            </li>

            <li
                class="page-item"
                v-for="page in totalPages"
                :key="page"
                :class="{ active: page === currentPage }"
            >
                <button class="page-link" @click="goToPage(page)">
                    [[ page ]]
                </button>
            </li>

            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                <button class="page-link" @click="nextPage" :disabled="currentPage === totalPages">
                    Next
                </button>
            </li>
        </ul>
    </nav>

{% endblock %}


{% block scripts %}
{{ super() }}


{% endblock %}
