{% extends "base.html" %}
{% block title %} FQM - {{ page_title }} {% endblock %}

{%block head%}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/manage_home.css') }}">
{% endblock %}



{% block page_content %}
<div id="app" class="container" style="margin-top: 20px;" v-cloak>
   
    <div class="page-header-section">
        <h1 class="page-title">Management Home</h1>
        <div class="button-group">
            <button class="btn btn-management" @click= "loadComponent('ManageOfficesComponent')">
                <i class="fa fa-building"></i>
                <span v-if="!Components['ManageOfficesComponent']">Offices Management</span>
                <span v-if="Components['ManageOfficesComponent']">Close Offices Management</span>
            </button>

            <button class="btn btn-management" @click= "loadComponent('ManageTasksComponent')">
                <i class="fa fa-tasks"></i>
                <span v-if="!Components['ManageTasksComponent']">Tasks Management</span>
                <span v-if="Components['ManageTasksComponent']">Close Tasks Management</span>
            </button>
        </div>
    </div>

    <component :is="Components['ManageTasksComponent']"
    get_all_tasks_url="{{ url_for('manage_app2.get_all_tasks') }}"
    :openedittaskfunc="openEditTaskDialog_var"
    >
    </component>
    <component :is="Components['ManageOfficesComponent']"
    get_all_offices_url="{{ url_for('manage_app2.get_all_offices') }}"
    :openeditofficefunc="openEditOfficeDialog_var"
    >
    </component>

</div>
{% endblock %}


{% block vue_data %}

    Components:{
        ManageTasksComponent: null,
        ManageOfficesComponent: null

    },
    URLs:{
        ManageTasksComponent: "{{ url_for('static', filename='modify_tasks.js') }}",
        ManageOfficesComponent: "{{ url_for('static', filename='modify_offices.js') }}"
    },
    openEditTaskDialog_var: window.openEditTaskDialog,
    openEditOfficeDialog_var: window.openEditOfficeDialog

                   
{% endblock %}

{% block vue_methods %}
    async loadComponent(component_name) {
                
        const component = this.Components[component_name];
        if (component) {
            this.Components[component_name] = null; // Unload component
            return;
        }
        const module = await import(this.URLs[component_name]);
        this.Components[component_name] = markRaw(module.default);   // Set component

    },

{% endblock %}

{% block vue_computed%}
    

{% endblock %}

{% block vue_watch%}



{% endblock %}

{% block vue_mounted %}
  
    
   
{% endblock %}


{% block scripts %}

{% endblock %}





