{% extends "base.html" %}
{% block title %} FQM - {{ page_title }} {% endblock %}

{%block head%}
{{ super() }}
<script src="{{ url_for('static', filename='chartHelper.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/chart/chart.js') }}"></script>

{% endblock %}

{% block page_content %}
<div id="app" class="container" style="margin-top: 20px;" v-cloak>
   
    <h1 class="page-header">Reports</h1>
    
    <div class="well">
        <h4>Select a Report to View</h4>
        <p class="text-muted">Click on the buttons below to open or close different report views.</p>
        
        <button class="btn btn-primary btn-sm pull-right mr-2" style="margin-left: 10px;" @click= "loadComponent('TicketStatusComponent')">
            <span class="fa fa-bar-chart" aria-hidden="true"></span>
            <span v-if="!Components['TicketStatusComponent']">Open Ticket Status Report</span>
            <span v-if="Components['TicketStatusComponent']">Close Ticket Status Report</span>
        </button>

        <button class="btn btn-info btn-sm pull-right" @click= "loadComponent('TaskFrequencyComponent')">
            <span class="fa fa-line-chart" aria-hidden="true"></span>
            <span v-if="!Components['TaskFrequencyComponent']">Open Task Frequency Report</span>
            <span v-if="Components['TaskFrequencyComponent']">Close Task Frequency Report</span>
        </button>
        
        <div class="clearfix"></div>
    </div>

    <!-- Component appears here -->
    <component :is="Components['TicketStatusComponent']"
    :report_route_url="'{{ url_for('reports.reports_data') }}'"
    :make_excel_url="'{{ url_for('reports.make_reports_excel') }}'"
    >
    </component>
    
    <component :is="Components['TaskFrequencyComponent']"
    :report_route_url="'{{ url_for('reports.make_task_frequency_reports') }}'"
    :show-swal-message = "showSwalMessage_var"
    :show-toast = "showToast_var"
    :reports_fetched="fetched_reports"
    @office-selected="handle_office_selected"
    @reports-fetched="handle_reports_fetched($event)"
    >
    </component>

    <component :is="Components['OfficeTaskCharts']"
    :frequency_data="task_frequency_data"
    :report_dates="fetched_reports_dates"
    :office_name="OfficeTaskCharts_office_name"
    :show-swal-message = "showSwalMessage_var"
    :pie_chart_helper = "pieChartHelper"
    >
    </component>


</div>
{% endblock %}


{% block vue_data %}

    Components:{
        TicketStatusComponent: null,
        TaskFrequencyComponent: null,
        OfficeTaskCharts:null
    },

    URLs:{
        TicketStatusComponent: "{{ url_for('static', filename='ticket_status_report.js') }}",
        TaskFrequencyComponent: "{{ url_for('static', filename='task_frequency_report.js') }}",
        OfficeTaskCharts: "{{ url_for('static', filename='office_task_charts.js') }}"
    },

    showSwalMessage_var: null,
    showToast_var: null,
    pieChartHelper: null,
    task_frequency_data: null,
    OfficeTaskCharts_office_name: null,
    fetched_reports: null,
    fetched_reports_dates: null,
                
    Child_like_components:{
        'TaskFrequencyComponent': ['OfficeTaskCharts']
    }

                   
{% endblock %}

{% block vue_methods %}

    async loadComponent(component_name) {
                
        const component = this.Components[component_name];
        if (component) {
            this.Components[component_name] = null; // Unload component
            this.closeChildLikeComponents(component_name);
            return; // Already loaded
        }
        const module = await import(this.URLs[component_name]);
        this.Components[component_name] = markRaw(module.default);   // Set component
    },

    handle_office_selected(data){
                
        this.task_frequency_data= data.report_data
        this.OfficeTaskCharts_office_name=data.office
        this.Components['OfficeTaskCharts']=null;
        this.loadComponent('OfficeTaskCharts')
        // You can add further handling logic here
                
    },

    closeChildLikeComponents(parent_component_name){
        const child_components = this.Child_like_components[parent_component_name] || [];
        child_components.forEach(child_name => {
            this.Components[child_name] = null;
        });
    },

    handle_reports_fetched(reports){
         
        // You can add further handling logic here
        this.fetched_reports = reports.reports;
        this.fetched_reports_dates = reports.dates;
        this.Components['OfficeTaskCharts'] = null; 
        this.Components['TaskFrequencyComponent'] = null;
        this.loadComponent('TaskFrequencyComponent');

    }

{% endblock %}

{% block vue_mounted %}
 
    this.showSwalMessage_var = showSwalMessage; // Initialize the function reference
    this.showToast_var = showToast; // Initialize the function reference
    this.pieChartHelper = renderPieChart;

{% endblock %}

{% block scripts %}

{% endblock %}





