<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ page_title  }} {% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field with context %}
<script type='text/javascript'>
$(document).ready(function () {
	// adding hidden user roles reminders instead
	var toShuffle = ['.admin', '.monitor', '.operator']
	$(toShuffle[($('#role').val() - 1)]).removeClass('hide')
	// to hide and display offices list when operator is selected and more than one office exist
	if (parseInt('{{ offices_count }}') && $('#role').val() == 3) $('.offices').removeClass('hide')
	$('#role').change(function () {
		if ($('#role').val() == 3) $('.offices').removeClass('hide')
		else $('.offices').addClass('hide')
		toShuffle.forEach(function (item) { $(item).addClass('hide') })
		$(toShuffle[($('#role').val() - 1)]).removeClass('hide')
	})
})
</script>
<div class="col-md-12">
    <form method="POST" enctype="multipart/form-data" id="fm">
		<div class="panel panel-default">
	    	<div class="panel-heading text-center">
				<h3 class="text-muted">
		    		<strong>
						{% if update %}
						<span class="fa fa-pencil"></span>
						{{ translate('Update user', 'en', [defLang]) }}
						{% else %}
						<span class="fa fa-plus"></span>
						{{ translate('Add new user', 'en', [defLang]) }}
						{% endif %}
		    		</strong>
				</h3>
	    	</div>
	  		<div class="panel-body">
      			<p class="pt-3"></p>
				{% if not update %}
				{{ form.csrf_token }}
				{{ render_field(form.name, class="form-control") }}
				{{ render_field(form.password, class="form-control") }}
				{% else %}
				{{ form2.csrf_token }}
				{{ render_field(form2.name, class="form-control",length=60,**{'v-model':'name','autocomplete':'off'}) }}
				{{ render_field(form2.password, class="form-control",length=60,**{'v-model':'password','autocomplete':'new-password'}) }}
				{% endif %}
				{% if offices_count == 0 %}
				<p class="h4 ar2 mt-2 mb-2 text-center text-warning">
					| Monitor: {{ translate('the role is not enabled, it will be enabled once you add a new office', 'en', [defLang]) }}. |
				</p>
				{% endif %}
				{% if not update %}
				{{ render_field(form.role, class="form-control") }}
				{% else %}
				{{ render_field(form2.role, class="form-control",**{'v-model':'role'}) }}
				{% endif %}
		  		<p class="h3 ar2 mt-2 mb-2 text-center text-muted admin hide">
		      		|  Admin : {{ translate('has the permissions to access and monitor everything', 'en', [defLang]) }} |
		  		</p>
		  		<p class="h3 ar2 mt-2 mb-2 text-center text-muted monitor hide">
		      		|  Monitor : {{ translate('has permissions to monitor and access everything except Administrate', 'en', [defLang]) }} |
		  		</p>
		  		<p class="h3 ar2 mt-2 mb-2 text-center text-muted operator hide">
		    		| Operator : {{ translate('has limited permissions only to access and monitor the office assigned to', 'en', [defLang]) }} |
		  		</p>
		  		<div class='offices hide'>
				    {% if not update %}
					{{ render_field(form.offices, class="form-control") }}
					{% else %}
					{{ render_field(form2.offices, class="form-control",**{'v-model':'offices'}) }}
					{% endif %}
				</div>
				<p class="pb-5"></p>
		  		<center>
					{% if update %}
					<button @click.prevent='updateUser' class='btn btn-md btn-danger'>{{ translate('Update user', 'en', [defLang]) }}</button>
					{% else %}
					<button id="add_user_button" class='btn btn-md btn-danger'>{{ translate('Add user', 'en', [defLang]) }}</button>
					{% endif %}
		  		</center>
				<p class="pb-3"></p>
	   		</div>
		</div>
    </form>
</div>
{% endblock %}

{% block vue_data %}

password: '',
name: '',
role: '',
offices: '',
csrf_token:  "{% if form and form.csrf_token is defined %}{{ form.csrf_token._value() }}{% endif %}"
{% endblock %}

{% block vue_methods %}

async updateUser() {
	const payload = {
		name: this.name,
		password: this.password,
		role: this.role,
		offices: this.offices,
		csrf_token: this.csrf_token
	};
	try {
		const response = await axios.post("{{ url_for('administrate2.update_user', user_id=u.id) }}", payload);
		if (response.data.status === 'success') {
			
			await showSwalMessage(response.data.message);
			
			// go one page back
			window.location.href = "{{ url_for('administrate.users') }}";

		} else {
		
			showSwalMessage(response.data.message);
		}
	} catch (error) {
		// if error is 400 then show the message from server
		if (error.response && error.response.status === 400) {
			showSwalMessage(error.response.data.message);
			return;
		}
		showSwalMessage("An error occurred while updating the user.");
	}
}


{% endblock %}

{% block vue_watch %}



{% endblock %}

{% block vue_mounted %}

{% endblock %}