name: Tests

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Adjust if your project only supports certain versions
        python-version: ['3.11']

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: |
            requirements/*.txt
            **/requirements.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements/test.txt ]; then pip install -r requirements/test.txt; \
          elif [ -f requirements/test-legacy.txt ]; then pip install -r requirements/test-legacy.txt; \
          elif [ -f requirements.txt ]; then pip install -r requirements.txt; fi

          pip install gevent

      - name: Run tests
        run: |
          pytest -vv --maxfail=1 --cov=app
